<h2>Welcome, <%= current_user.email %>!</h2>

<h3><%=  link_to "Create New Goal", new_goal_path%></h3>

<h3><%=  link_to "View Current Goals", goals_path%></h3>

<h3>Explore Goals by Category</h3>
<ul>
<% current_user.categories.each do |category| %>
  <li> <%= link_to category.name, category_path(category) %> </li>
<% end %>
</ul>
