<h1>Welcome to Goal Tracker</h1>
<%= link_to "Sign up with Email",  new_user_registration_path %> |
<%= link_to "Sign in with Email", new_user_session_path %> |
<%= link_to "Sign in or Create New Account with Facebook", user_facebook_omniauth_authorize_path %>
