<% if flash[:notice] %>
    <%= flash[:notice] %></p>
<% end %>

Goal Tracker
 <%= link_to "Home", welcome_path %>
| <%= link_to "View Goals", goals_path %>
| <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
